{% extends '::base.html.twig' %}

{% block head %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('front/css/theme.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('front/css/business-casual.css') }}" rel="stylesheet">
    <link href="{{ asset('front/css/animate.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block body %}
    {% trans_default_domain "traduction" %}
    <section id="content">
    {% block content %}
    {% endblock %}
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </div>
    </footer>

    {% block baseJs %}
        <script src="{{ asset('front/js/jquery.js') }}"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

        <script src="{{ asset('front/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('front/js/jScrollability.min.js') }}"></script>
        <script src="{{ asset('front/js/parallax.min.js') }}"></script>
        <script src="{{ asset('front/js/countUp.js') }}"></script>
        <script src="{{ asset('front/js/home-animation.js') }}"></script>

        <script src="https://maps.googleapis.com/maps/api/js?RYCHENgvaex&callback=initialize"
                async defer></script>
    {% endblock %}

{% endblock %}