{% extends '::base.html.twig' %}

{% block head %}
    <meta name="keywords" content="parcours, acrobatiques, forêt, pic saint loup, pic, saint, loup, 34, montpellier, saint jean de cuculles, cuculles, herault, hérault, parcours acrobatique, tyroliennes, aventure, accrobranche, accrobranche montpellier, acrobranche, accro branche, accrobranches, gard, 30, ganges, nimes, enfant, enfants, adulte, adultes, ado, ados, sécurité, arbres, via ferrata, rappel, arbres, école, ecole, ecoles, collectivité, collectivités, club, centre de loisirs, rochers de maguelone,tyroliane ,le ponan la grande motte,accrobranche, le roc de massereau sommières,les accros d'anjeau,parfum d'aventures, accrobranche anduze, kartix, la forêt d'acrobates " />

    <meta name="description" content="Parcours acrobatiques en forêt au pied du Pic Saint Loup (15 minutes de Montpellier), découvrez de nouvelles sensations, des émotions oubliées, les odeurs de la pinède et le chant des cigales ." />

    <META NAME="Identifier-URL" CONTENT="http://www.oc-aventures.com" />

    <META NAME="revisit-after" CONTENT="15 days" />

    <META NAME="Publisher" CONTENT="OCaventures" />

    <META NAME="Copyright" CONTENT="OCaventures" />

    <meta name="robots" content="index,follow" />
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('front/css/style.css') }}" rel="stylesheet">

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    {% trans_default_domain "traduction" %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#parallax1">Accueil</a></li>
                <li><a href="#section-parcours">Parcours</a></li>
                <li><a href="#section-parcours">Forfait</a></li>
                <li><a href="#section-plan">Plan du parc</a></li>
                <li class="contact"><a href="#section-contact">Contact <br><small class="num-contact">0619895386</small></a></li>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}

    {% block javascript %}
        <!-- jQuery -->
        <script src="{{ asset('./front/js/jquery.js') }}"></script>
        <script src="{{ asset('./front/js/bootstrap.js') }}"></script>
        <script src="{{ asset('./front/js/jquery-migrate.js') }}"></script>
        <script src="{{ asset('./front/js/magnifique.js') }}"></script>
        <script src="{{ asset('./front/js/mouse.wheel.js') }}"></script>
        <script src="{{ asset('./front/js/smoothscroll.js') }}"></script>
        <script src="{{ asset('./front/js/parallax.js') }}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        {% block script %}
            <script type="text/javascript">

                $(document).ready(function(){
                    $('.thumbnails').magnificPopup({
                        delegate: 'li a',
                        type:'image',
                        gallery: {
                            enabled: true,
                            preload: [1,1]
                        },
                        mainClass: 'mfp-with-zoom',
                        zoom: {
                            enabled: true,
                            duration: 300,
                            easing: 'ease-in-out',
                            opener: function(openerElement) {
                                return openerElement.is('img') ? openerElement : openerElement.find('img');
                            }
                        }
                    });

                    $("#year").text((new Date).getFullYear());
                });
            </script>
        {% endblock script %}
    {% endblock %}
{% endblock %}