{% extends '::base.html.twig' %}

{% block head %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('front/css/style.css') }}" rel="stylesheet">

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    {% trans_default_domain "traduction" %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#parallax1">{{ 'header.accueil'|trans }}</a></li>
                <li><a href="#section-parcours">{{ 'header.parcours'|trans }}</a></li>
                <li><a href="#section-parcours">{{ 'header.forfait'|trans }}</a></li>
                <li><a href="#section-plan">{{ 'header.plan_parc'|trans }}</a></li>
                <li class="contact"><a href="#section-contact">{{ 'header.contact'|trans }} <br><small class="num-contact">0619895386</small></a></li>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}

    {% block javascript %}
        <!-- jQuery -->
        <script src="{{ asset('./front/js/jquery.js') }}"></script>
        <script src="{{ asset('./front/js/bootstrap.js') }}"></script>
        <script src="{{ asset('./front/js/jquery-migrate.js') }}"></script>
        <script src="{{ asset('./front/js/magnifique.js') }}"></script>
        <script src="{{ asset('./front/js/mouse.wheel.js') }}"></script>
        <script src="{{ asset('./front/js/smoothscroll.js') }}"></script>
        <script src="{{ asset('./front/js/parallax.js') }}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        {% block script %}
            <script type="text/javascript">

                $(document).ready(function(){
                    $('.thumbnails').magnificPopup({
                        delegate: 'li a',
                        type:'image',
                        gallery: {
                            enabled: true,
                            preload: [1,1]
                        },
                        mainClass: 'mfp-with-zoom',
                        zoom: {
                            enabled: true,
                            duration: 300,
                            easing: 'ease-in-out',
                            opener: function(openerElement) {
                                return openerElement.is('img') ? openerElement : openerElement.find('img');
                            }
                        }
                    });

                    $("#year").text((new Date).getFullYear());
                });
            </script>
        {% endblock script %}
    {% endblock %}
{% endblock %}