{% extends '::base.html.twig' %}

{% block head %}
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('front/css/style.css') }}" rel="stylesheet">

{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    {% trans_default_domain "traduction" %}
   <!-- <ul class="navbar-top">
        <li id="nav-company"><a href="http://www.camposanto.com"><strong>Campo Santo</strong></a></li>
        <li id="nav-review"><a href="{{ path('website_index', {'_locale': app.request.getLocale() }) }}"><strong><span class="collapse">{{ 'header.accueil'|trans }}</span><</strong></a></li>
        <li id="nav-store"><a href="{{ path('website_parcours', {'_locale': app.request.getLocale() }) }}"><strong><span class="collapse">{{ 'header.parcours'|trans }}</a></li>
        <li id="nav-blog"><a href="{{ path('website_laser', {'_locale': app.request.getLocale() }) }}"><strong><span class="collapse">{{ 'header.laser_game'|trans }} </span></strong></a></li>
        <li id="nav-game" class=" current"><a href="http://www.firewatchgame.com"><span class="collapse">Our Game: </span><strong>Firewatch</strong></a></li>
    </ul> --!>
    {% block content %}
    {% endblock %}

    {% block javascript %}
        <!-- jQuery -->
        <script src="{{ asset('./front/js/jquery.js') }}"></script>
        <script src="{{ asset('./front/js/jquery-migrate.js') }}"></script>
        <script src="{{ asset('./front/js/magnifique.js') }}"></script>
        <script src="{{ asset('./front/js/mouse.wheel.js') }}"></script>
        <script src="{{ asset('./front/js/smoothscroll.js') }}"></script>
        <script src="{{ asset('./front/js/parallax.js') }}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
        {% block script %}
            <script type="text/javascript">

                $(document).ready(function(){
                    $('.thumbnails').magnificPopup({
                        delegate: 'li a',
                        type:'image',
                        gallery: {
                            enabled: true,
                            preload: [1,1]
                        },
                        mainClass: 'mfp-with-zoom',
                        zoom: {
                            enabled: true,
                            duration: 300,
                            easing: 'ease-in-out',
                            opener: function(openerElement) {
                                return openerElement.is('img') ? openerElement : openerElement.find('img');
                            }
                        }
                    });

                    $("#year").text((new Date).getFullYear());
                });
            </script>
        {% endblock script %}
    {% endblock %}
{% endblock %}