{% extends 'WebSiteBundle:Front:base.html.twig' %}
    {% block title %}
        Accueil
    {% endblock %}
{% block video %}
    <div class="block-video crt-parallaxvideo" id="container">
        <video playsinline autoplay muted loop class="parallax" id="bgvid">
            <source src="{{ asset('front/video/bbb.mp4') }}" type="video/mp4">
            <source src="{{ asset('front/video/bbb.webm') }}" type="video/webm">
        </video>
    </div>
    <div id="arrow-rotate-down"><a id="circle-button" class="hvr-grow" href="#">Next Section</a></div>
{% endblock %}
{% block content %}
    {% trans_default_domain "traduction" %}
    <div class="intro-block parallax">
        <div class="brand image">
            <div class="img-responsive accrobranche-logo">
                <img class="center-block" src="{{ asset('front/images/oc-logo.png') }}" alt="">
            </div>
            <div class="img-responsive accrobranche-title">
                <img class="img-responsive center-block img-accrobranche" src="{{ asset('front/images/font-accrobranche.png') }}" alt="">
                <div class="text-image-oc text-image text-right"><span>OC'Aventures</span><br><span>Montpellier Nord</span></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="red-box">
            <div class="text-center text-yellow accroche-hauteur accroche">
                <div class="text">{{ 'index.oc_hauteur'|trans }} !</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="parallax block-img-hauteur"></div>
    </div>
    <div class="row">
        <div class="tyro text-center col-md-12">
            <div class="info-txt-anime block-nb-tyro text-center col-md-2 col-md-offset-2">
                <div id="nb-tyro" class="nb-info-anime">
                    0
                </div>
                <div class="text"> Tyro Géantes<br>d'affilé</div>
            </div>
            <div class="equal math-separator text-center info-txt-anime col-md-1">
                <div id="equal" class="math-insigne">
                    =
                </div>
            </div>
            <div class="info-txt-anime block-distance text-center col-md-2">
                <div id="distance" class=" nb-info-anime">
                    0
                </div>
                <div class="text">mètres <br> de Tyrolienne</div>
            </div>
            <div class="plus text-center math-separator info-txt-anime col-md-1">
                <div id="plus" class="math-insigne">
                    +
                </div>
            </div>
            <div class="info-txt-anime block-hauteur text-center col-md-2">
                <div id="hauteur" class=" nb-info-anime">
                    0
                </div>
                <div class="text">mètres <br> de hauteur</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="red-box col-xs-12">
            <div class="col-xs-6 col-xs-offset-3 text-center text-yellow accroche-enfant accroche">
                <div class="text"> PARTEZ A l'AVENTURE !</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="parallax block-img-enfant"></div>
    </div>
    <div class="row">
        <div class="section-txt-parcours col-xs-12">
            <div class="yellow-box col-md-6">
                <div class="col-md-12 enfant">
                    <div class="text-center">
                        <h1>{{ 'parcours.nos_parcours_enfant'|trans }} :</h1>
                        <br>
                    </div>
                    <div class="col-md-12">
                        <h4 class="text-yellow">{{ 'parcours.parcours_pour_enfant'|trans }}:</h4>
                        <p>
                            {{ 'parcours.desc_parcours_enfant'|trans|raw }}
                        </p>
                        <h4 class="text-yellow"> {{ 'parcours.les_parcours'|trans }} :</h4>
                        <p>
                            {{ 'parcours.desc_details_enfant'|trans|raw }}
                        </p>
                    </div>
                    <div class="col-md-12">
                        <p>
                            {{ 'parcours.desc_accroche_enfant'|trans|raw }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="red-box col-md-6">
                <div class="col-md-12">
                    <div class="col-md-12 adulte">
                        <div class="text-center">
                            <h1 class="text-yellow">{{ 'parcours.nos_parcours_grands'|trans }} :</h1>
                            <br>
                        </div>
                        <div class="col-md-12">
                            <h4 class="text-yellow">{{ 'parcours.parcours_pour_grands'|trans }} :</h4>
                            <p>
                                <strong>
                                    {{ 'parcours.desc_grands_parcours'|trans }}
                                </strong>
                            </p>
                            <p>
                                {{ 'parcours.desc_tyro'|trans }}
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p>
                                {{ 'parcours.desc_details_parcours'|trans }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="parallax block-img-laser">
            <div class="col-xs-6 col-xs-offset-3 text-center text-yellow accroche-laser accroche">
                <div class="text"> Decouvrez en notre nouvelle activite en exclusivite !</div>
            </div>
        </div>
    </div>
    {#
    <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center text-yellow">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {% set firstIteration = true %}
                            {% for image in image.sliders.image %}
                                {% if firstIteration == true %}
                                    <div class="item active">
                                {% else %}
                                    <div class="item">
                                {% endif %}
                                    <img class="img-responsive img-full" src="{{ asset('front/images/gallery/' ~ image) }}" alt="">
                                </div>
                                {% set firstIteration = false %}
                            {% endfor %}
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="text-center">
                        {{ 'index.oc_bienvenue'|trans }}
                    </h2>
                    <hr class="tagline-divider">
                    <h2>
                        <small>
                            <strong>OC'AVENTURES</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        {{ 'index.nos_parcours_accrobranche'|trans|raw }}
                    </h2>
                    <hr>
                        <img class="img-responsive img-border img-left" src="{{ asset('front/images/gallery/' ~ image.imgBlock2.image) }}" alt="">
                    <hr class="visible-xs">
                    <div class="row">
                        <h4  class="text-yellow">{{ "index.ouverture_fermeture"|trans({'%dateOuverture%': date.ouverture |date('d/m/Y'), '%dateFermeture%': date.fermeture |date('d/m/Y')}) }}</h4>
                        <p> <strong>{{ 'index.accroche_nos_parcours'|trans }}</strong></p>
                        <a href="{{ path('website_parcours', {'_locale': app.request.getLocale() }) }}"><h4 class="souligner">{{ 'index.parcours_adulte'|trans }}</h4></a>
                        <p>
                        {{ 'index.parcours_adulte_desc'|trans }}
                        </p>
                        <a href="{{ path('website_parcours', {'_locale': app.request.getLocale() }) }}"><h4 class="souligner">{{ 'index.parcours_enfant'|trans }}</h4></a>
                        <p>
                            {{ 'index.parcours_enfant_desc'|trans }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        {{ 'index.le_laser_game'|trans|raw }}
                    </h2>
                    <hr>
                        <img class="img-responsive img-border img-left" src="{{ asset('front/images/gallery/' ~ image.imgBlock3.image) }}" alt="">
                    <hr class="visible-xs">
                    <div class="row">
                        <h4  class="text-yellow">{{ "index.intro_texte_laser"|trans }}</h4>
                        <p> <strong>{{ 'index.accroche_laser'|trans }}</strong></p>
                        <a href="{{ path('website_parcours', {'_locale': app.request.getLocale() }) }}"><h4 class="souligner">{{ 'index.lien_laser_1'|trans }}</h4></a>
                        <p>
                        {{ 'index.accroche_laser_2'|trans }}
                        </p>
                        <a href="{{ path('website_parcours', {'_locale': app.request.getLocale() }) }}"><h4 class="souligner">{{ 'index.lien_laser_2'|trans }}</h4></a>
                        <p>
                            {{ 'index.chute_laser'|trans }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        {{ 'index.confort_title'|trans|raw }}
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="{{ asset('front/images/gallery/' ~ image.imgBlock4.image) }}" alt="">
                    <div class="row">
                        <p>- {{ 'index.confort_terrasse'|trans }}</p>
                        <p>- {{ 'index.confort_pique_nique'|trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>#}
{% endblock %}