{% extends 'WebSiteBundle:Front:base.html.twig' %}
    {% block title %}
        Accueil
    {% endblock %}
{% block video %}
    <div class="block-iframe crt-parallaxiframe" id="container">
        <div class="iframe-background">
            <div class="iframe-foreground">
                <iframe src="https://www.youtube.com/embed/YXb3shFMu3w?rel=0&amp;controls=0&amp;showinfo=0&amp;autoplay=1&amp;modestbranding=1&amp;" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div id="arrow-rotate-down"><a id="circle-button" class="hvr-grow" href="#">Next Section</a></div>
{% endblock %}
{% block content %}
    {% trans_default_domain "traduction" %}
    {% set baseImgUrl = "front/images/gallery/" %}
    <div class="menu-burger text-center">
        <input class="burger-check" id="burger-check" type="checkbox">
        <label for="burger-check" class="burger"></label>
        <nav id="navigation1" class="navigation">
            <ul>
                <li>
                    <a href="#intro">{{ 'header.accueil'|trans }}</a>
                </li>
                <li>
                    <a href="#nos-parcours">{{ 'header.parcours'|trans }}</a>
                </li>
                <li>
                    <a href="#laser-game">{{ 'header.laser_game'|trans }}</a>
                </li>
                <li>
                    <a href="#ouverture"> {{ 'header.horaires_dates'|trans }}</a>
                </li>
                <li>
                    <a href="#tarifs">{{ 'header.tarifs'|trans }}</a>
                </li>
                <li>
                    <a href="#map_canvas">{{ 'header.contact'|trans }}</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="intro-block parallax" id="intro">
        <div class="brand image">
            <div class="img-responsive accrobranche-logo">
                <img class="center-block" src="{{ asset('front/images/oc-logo.png') }}" alt="">
            </div>
            <div class="img-responsive accrobranche-title">
                <img class="img-responsive center-block img-accrobranche" src="{{ asset('front/images/font-accrobranche.png') }}" alt="">
                <div class="text-image-oc text-image text-right"><span>OC'Aventures</span><br><span>Montpellier Nord</span></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="red-box">
            <div class="text-center text-yellow accroche-hauteur accroche">
                <div class="text">{{ 'index.oc_hauteur'|trans }} !</div>
            </div>
        </div>
    </div>
    <div class="parallax-container" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-z-index="0" data-image-src="{{ asset(baseImgUrl ~ image.imgBlock2.image) }}"></div>
    <div class="row">
        <div class="tyro text-center col-md-12">
            <div class="info-txt-anime block-nb-tyro text-center col-md-2 col-md-offset-2">
                <div id="nb-tyro" class="nb-info-anime">
                    0
                </div>
                <div class="text"> Tyro Géantes<br>d'affilé</div>
            </div>
            <div class="equal math-separator text-center info-txt-anime col-md-1">
                <div id="equal" class="math-insigne">
                    =
                </div>
            </div>
            <div class="info-txt-anime block-distance text-center col-md-2">
                <div id="distance" class=" nb-info-anime">
                    0
                </div>
                <div class="text">mètres <br> de Tyrolienne</div>
            </div>
            <div class="plus text-center math-separator info-txt-anime col-md-1">
                <div id="plus" class="math-insigne">
                    +
                </div>
            </div>
            <div class="info-txt-anime block-hauteur text-center col-md-2">
                <div id="hauteur" class=" nb-info-anime">
                    0
                </div>
                <div class="text">mètres <br> de hauteur</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="red-box col-xs-12">
            <div class="col-xs-6 col-xs-offset-3 text-center text-yellow accroche-enfant accroche">
                <div class="text"> PARTEZ A l'AVENTURE !</div>
            </div>
        </div>
    </div>
    <div class="parallax-container" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-z-index="0" data-image-src="{{ asset(baseImgUrl ~ image.imgBlock3.image) }}"></div>
    <div class="row" id="nos-parcours">
        <div class="section-txt-parcours col-xs-12">
            <div class="yellow-box col-md-6">
                <div class="col-md-12 enfant">
                    <div class="text-center">
                        <h1>{{ 'parcours.nos_parcours_enfant'|trans }} :</h1>
                        <br>
                    </div>
                    <div class="col-md-12">
                        <h4 class="text-yellow">{{ 'parcours.parcours_pour_enfant'|trans }}:</h4>
                        <p>
                            {{ 'parcours.desc_parcours_enfant'|trans|raw }}
                        </p>
                        <h4 class="text-yellow"> {{ 'parcours.les_parcours'|trans }} :</h4>
                        <p>
                            {{ 'parcours.desc_details_enfant'|trans|raw }}
                        </p>
                    </div>
                    <div class="col-md-12">
                        <p>
                            {{ 'parcours.desc_accroche_enfant'|trans|raw }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="red-box col-md-6">
                <div class="col-md-12">
                    <div class="col-md-12 adulte">
                        <div class="text-center">
                            <h1 class="text-yellow">{{ 'parcours.nos_parcours_grands'|trans }} :</h1>
                            <br>
                        </div>
                        <div class="col-md-12">
                            <h4 class="text-yellow">{{ 'parcours.parcours_pour_grands'|trans }} :</h4>
                            <p>
                                <strong>
                                    {{ 'parcours.desc_grands_parcours'|trans }}
                                </strong>
                            </p>
                            <p>
                                {{ 'parcours.desc_tyro'|trans }}
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p>
                                {{ 'parcours.desc_details_parcours'|trans }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="laser-game" class="parallax-container block-img-laser" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-z-index="0" data-image-src="{{ asset(baseImgUrl ~ image.imgBlock4.image) }}">
        <div class="col-xs-12 text-center text-yellow accroche-laser accroche">
            <h1 class="text intro-text"> Decouvrez en notre nouvelle activite en exclusivite !</h1>
            <div class="info-txt-anime text-center">
                <div id="nb-equipement" class="text-yellow">
                    0
                </div>
                <div class="info-equipement text-yellow text-center"> Equipements<br>derniere generation</div>
            </div>
        </div>
    </div>

    <div class="row tarifs" id="tarifs">
        <div class="red-box col-md-12">
            <div class="text-center text-yellow">
                <h1> {{ 'tarifs.Titre'|trans|raw }}</h1>
                <br>
            </div>
            <div class="col-lg-4 col-lg-offset-2">
                <h3 class="text-center text-yellow">
                    <span>Tarifs Accrobranche</span>
                </h3><br>
                <div class="block block-forfait">
                    <div class="text-yellow">
                        <label class="label-img1 text-center hvr-buzz-out">
                            {{ tarifs.F1Prix }} €
                        </label>
                    <span class="text-yellow text-header">
                        {{ 'tarifs.forfait1'|trans|raw }}
                    </span>
                        <label class="label-img5 text-center label-age">
                            {{ tarifs.F1Age }} {{ 'tarifs.age'|trans|raw }}
                        </label>
                    </div>
                    <p class="text-forfait">
                        {{ 'tarifs.parcours1'|trans({'%age%': tarifs.F1Age })|raw }}
                    </p>
                </div>

                <div class="block block-forfait">
                    <div class="text-yellow">
                        <label class="label-img1 text-center">
                            {{ tarifs.F2Prix }} €
                        </label>
                    <span class="text-yellow text-header">
                        {{ 'tarifs.forfait2'|trans|raw }}
                    </span>
                        <label class="label-img5 text-center label-age">
                            {{ tarifs.F2Age }} {{ 'tarifs.age'|trans|raw }}
                        </label>
                    </div>
                    <p class="text-forfait">
                        {{ 'tarifs.parcours2'|trans({'%age%': tarifs.F2Age })|raw }}
                    </p>
                </div>

                <div class="block block-forfait">
                    <div class="text-yellow">
                        <label class="label-img1 text-center">
                            {{ tarifs.F3Prix }} €
                        </label>
                    <span class="text-yellow text-header">
                        {{ 'tarifs.forfait3'|trans|raw }}
                    </span>
                        <label class="label-img5 text-center label-age">
                            {{ tarifs.F3Age }} {{ 'tarifs.age'|trans|raw }}
                        </label>
                    </div>
                    <p class="text-forfait">
                        {{ 'tarifs.parcours3'|trans({'%age%': tarifs.F3Age })|raw }}
                    </p>
                </div>

                <div class="block block-forfait">
                    <div class="text-yellow">
                        <label class="label-img1 text-center">
                            {{ tarifs.F4Prix }} €
                        </label>
                    <span class="text-yellow text-header">
                         {{ 'tarifs.forfait4'|trans|raw }}
                    </span>
                        <label class="label-img5 text-center label-age">
                            +{{ tarifs.F4Poids }}kg
                        </label>
                    </div>
                    <p class="text-forfait">
                        {{ 'tarifs.parcours4'|trans({'%poids%': tarifs.F4Poids })|raw }}
                    </p>
                </div>
                <label class="">{{ 'tarifs.temps_activite'|trans|raw }}</label>
            </div>
            <div class="col-lg-5">
                <div class="col-lg-12">
                    <h3 class="text-center text-yellow">
                        <span>Tarifs Laser Game</span>
                    </h3><br>
                    <div class="block block-forfait col-lg-12">
                        <div class="text-yellow">
                            <label class="label-img-viseur text-center">
                                {{ tarifs.FLaser1 }} €
                            </label>
                        <span class="text-yellow text-header">
                            {{ 'tarifs.forfait_laser_1'|trans|raw }}
                        </span>
                            <label class="label-img5 text-center label-age">
                                {{ tarifs.FLaserAge }} {{ 'tarifs.age'|trans|raw }}
                            </label>
                        </div>
                        <p class="text-forfait">
                            {{ 'tarifs.forfait_laser_desc_1'|trans|raw }}
                        </p>
                    </div>
                    <div class="block block-forfait col-lg-12">
                        <div class="text-yellow">
                            <label class="label-img-viseur text-center">
                                {{ tarifs.FLaser2 }} €
                            </label>
                        <span class="text-yellow text-header">
                            {{ 'tarifs.forfait_laser_2'|trans|raw }}
                        </span>
                            <label class="label-img5 text-center label-age">
                                {{ tarifs.FLaserAge }} {{ 'tarifs.age'|trans|raw }}
                            </label>
                        </div>
                        <p class="text-forfait">
                            {{ 'tarifs.forfait_laser_desc_2'|trans|raw }}
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="yellow-box col-xs-12">
            <div class="col-lg-12 text-center">
                <div class="col-md-6 col-md-offset-3">
                    <h3 class="text-yellow">{{ 'tarifs.titre_paiement'|trans|raw }}</h3>
                    <p>{{ 'tarifs.mode_paiement'|trans|raw }}</p>
                    <div class="block">
                        <img class="small-img" src="{{ asset('front/images/noCB.png') }}" alt="">
                        <img class="" src="{{ asset('front/images/logo_ancv.png') }}" alt="">
                    </div>
                    <h3 class="text-yellow cb-message">{{ 'tarifs.pas_cb'|trans|raw }}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row block-maps" id="map_canvas">
        {#<iframe#}
                {#width="100%"#}
                {#frameborder="0" style="border:0"#}
                {#scrolling="0" marginheight="0" marginwidth="0"#}
                {#src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d368878.9142554212!2d3.84058!3d43.7548686!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b40239cb28308b%3A0xd2c89522cf4dac40!2sOc+Aventures+-+Accrobranche!5e0!3m2!1sen!2sfr!4v1438606971056">#}
        {#</iframe>#}
    </div>
{% endblock %}