{% extends 'WebSiteBundle:Front:base.html.twig' %}
    {% block title %}
        Accueil
    {% endblock %}
{% block content %}
    {% trans_default_domain "traduction" %}
    <div class="page">
        <div id="parallax1" class="parallax-container">
            <div class="keyart_layer parallax1" id="keyart-0" data-speed="2"></div>		<!-- 00.0 -->
            <div class="keyart_layer parallax1" id="keyart-1" data-speed="12.5"></div>	<!-- 12.5 -->
            <div class="keyart_layer parallax1" id="keyart-2" data-speed="25"></div>		<!-- 25.0 -->
            <div class="keyart_layer" id="keyart-3" data-speed="37.5">
                <div class="text-ouverture text-center">
                    {{ 'index.texte_ouvertures'|trans|raw }}
                </div>
            </div>	<!-- 37.5 -->
            <div class="keyart_layer parallax1" id="keyart-4" data-speed="50.0"></div>		<!-- 50.0 -->
            <div class="keyart_layer" id="keyart-scrim"></div>
            <div class="keyart_layer parallax1" id="keyart-5" data-speed="62.5"></div>	<!-- 62.5 -->
            <div class="keyart_layer parallax1" id="keyart-6" data-speed="75.0"></div>		<!-- 75.0 -->
        </div>
        <div id="maincontent">
            <div id="main">
                <div class="section parcours container">
                    <div class="section-header col-sm-12">
                        <div class="header-block col-sm-8 col-sm-offset-2 text-center">
                            {{ 'index.accroche_accueil'|trans|raw }}
                        </div>
                    </div>
                    <div id="section-parcours" class="col-md-12 block-parcours">
                        <h1 class="text-center">{{ 'parcours.nos_parcours'|trans|raw }}</h1>
                        <div class="parcours-enfant col-md-6 parcours-block">
                            <h2 class="text-center"> {{ 'parcours.titre_parcours_enfant'|trans|raw }}</h2>
                            <p>
                                {{ 'parcours.description_parcours_enfant'|trans|raw }}
                            </p>

                        </div>
                        <div class="parcours-adult col-md-6 parcours-block">
                            <h2 class="text-center">{{ 'parcours.titre_parcours_adulte'|trans|raw }}</h2>
                            <p>
                                {{ 'parcours.description_parcours_adulte'|trans|raw }}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12 iframe-youtube">
                        <div class="col-md-6 parcours-block">
                            <div class="youtube-player" data-id="4MJ9dm3xM_I"></div>
                        </div>
                        <div class="col-md-6 parcours-block">
                            <div class="youtube-player" data-id="7DFrdO_0hC0"></div>
                        </div>
                    </div>

                    <div class="col-md-12 block-laser">
                        <div class="col-md-10 col-md-offset-1">
                            <h1 class="text-center">{{ 'parcours.titre_laser_game'|trans|raw }}</h1>
                            <p>
                                {{ 'parcours.description_laser_game'|trans|raw }}
                            </p>
                        </div>
                    </div>

                    <div class="btn btn-galery col-sm-6 col-sm-offset-3" data-toggle="modal" data-target=".bd-example-modal-lg">
                        {{ 'parcours.intitule_bouton_galerie'|trans|raw }}
                    </div>
            </div>
        </div>
        <div id="parallax2" class="parallax-container">
            <div class="keyart_layer parallax2" id="keyart2-0" data-speed="-30"></div>		<!-- 00.0 -->
            <div class="keyart_layer parallax2" id="keyart2-1" data-speed="-25"></div>	<!-- 12.5 -->
            <div class="keyart_layer parallax2" id="keyart2-2" data-speed="-20"></div>		<!-- 25.0 -->
            <div class="parallax2" id="keyart2-3" data-speed="-20"></div>	<!-- 37.5 -->
            <div class="keyart_layer parallax2" id="keyart2-4" data-speed="-10"></div>		<!-- 50.0 -->
            <div class="keyart_layer" id="keyart-scrim"></div>
            <div class="keyart_layer parallax2" id="keyart2-5" data-speed="-5"></div>	<!-- 62.5 -->
            <div class="keyart_layer" id="keyart2-6" data-speed="-55"></div>		<!-- 75.0 -->
        </div>

        <div id="section-tarif" class="tarif-container">
            <div class="container">
                <div class="text-center text-yellow">
                    <h1> {{ 'tarifs.Titre'|trans|raw }}</h1>
                    <br>
                </div>
                <div class="col-md-6 col-sm-12">
                    <h3 class="text-center text-yellow">
                        <span>{{ 'tarifs.titre_tarif_accrobrache'|trans|raw }}</span>
                    </h3><br>
                    <div class="block block-forfait">
                        <div class="text-yellow">
                            <label class="label-img1 text-center">
                                {{ tarifs.F1Prix }} €
                            </label>
                    <span class="text-yellow text-header">
                        {{ 'tarifs.forfait1'|trans|raw }}
                    </span>
                            <label class="label-img5 text-center label-age">
                                {{ tarifs.F1Age }} {{ 'tarifs.age'|trans|raw }}
                            </label>
                        </div>
                        <p class="text-forfait">
                            {{ 'tarifs.parcours1'|trans({'%age%': tarifs.F1Age })|raw }}
                        </p>
                    </div>

                    <div class="block block-forfait">
                        <div class="text-yellow">
                            <label class="label-img1 text-center">
                                {{ tarifs.F2Prix }} €
                            </label>
                    <span class="text-yellow text-header">
                        {{ 'tarifs.forfait2'|trans|raw }}
                    </span>
                            <label class="label-img5 text-center label-age">
                                {{ tarifs.F2Age }} {{ 'tarifs.age'|trans|raw }}
                            </label>
                        </div>
                        <p class="text-forfait">
                            {{ 'tarifs.parcours2'|trans({'%age%': tarifs.F2Age })|raw }}
                        </p>
                    </div>

                    <div class="block block-forfait">
                        <div class="text-yellow">
                            <label class="label-img1 text-center">
                                {{ tarifs.F3Prix }} €
                            </label>
                    <span class="text-yellow text-header">
                        {{ 'tarifs.forfait3'|trans|raw }}
                    </span>
                            <label class="label-img5 text-center label-age">
                                {{ tarifs.F3Age }} {{ 'tarifs.age'|trans|raw }}
                            </label>
                        </div>
                        <p class="text-forfait">
                            {{ 'tarifs.parcours3'|trans({'%age%': tarifs.F3Age })|raw }}
                        </p>
                    </div>

                    <div class="block block-forfait">
                        <div class="text-yellow">
                            <label class="label-img1 text-center">
                                {{ tarifs.F4Prix }} €
                            </label>
                    <span class="text-yellow text-header">
                         {{ 'tarifs.forfait4'|trans|raw }}
                    </span>
                            <label class="label-img5 text-center label-age">
                                +{{ tarifs.F4Poids }}kg
                            </label>
                        </div>
                        <p class="text-forfait">
                            {{ 'tarifs.parcours4'|trans({'%poids%': tarifs.F4Poids })|raw }}
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <h3 class="text-center text-yellow">
                        <span>{{ 'tarifs.titre_tarif_laser_game'|trans|raw }}</span>
                    </h3><br>
                    <div class="block block-forfait">
                        <div class="text-yellow">
                            <label class="label-img-viseur text-center">
                                {{ tarifs.FLaser1 }} €
                            </label>
                    <span class="text-yellow text-header">
                        {{ 'tarifs.forfait_laser_1'|trans|raw }}
                    </span>
                            <label class="label-img5 text-center label-age">
                                {{ tarifs.FLaserAge }} {{ 'tarifs.age'|trans|raw }}
                            </label>
                        </div>
                        <p class="text-forfait">
                            {{ 'tarifs.forfait_laser_desc_1'|trans|raw }}
                        </p>
                    </div>
                    <div class="block block-forfait">
                        <div class="text-yellow">
                            <label class="label-img-viseur text-center">
                                {{ tarifs.FLaser2 }} €
                            </label>
                            <span class="text-yellow text-header">
                                {{ 'tarifs.forfait_laser_2'|trans|raw }}
                            </span>
                            <label class="label-img5 text-center label-age">
                                {{ tarifs.FLaserAge }} {{ 'tarifs.age'|trans|raw }}
                            </label>
                        </div>
                        <p class="text-forfait">
                            {{ 'tarifs.forfait_laser_desc_2'|trans|raw }}
                        </p>
                    </div>
                    <div class="block block-info-groupe text-yellow text-center">
                        {{ 'tarifs.texte_groupe'|trans|raw }}
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3 col-sm-12 text-center ">
                    <div class="mode-paiment">
                        <h3 class="text-yellow">{{ 'tarifs.titre_paiement'|trans|raw }}</h3>
                        <p>{{ 'tarifs.mode_paiement'|trans|raw }}</p>
                        <div class="block">
                            <img class="small-img" src="{{ asset('front/images/noCB.png') }}" alt="">
                            <img class="" src="{{ asset('front/images/logo_ancv.png') }}" alt="">
                        </div>
                        <h3 class="text-yellow cb-message">{{ 'tarifs.pas_cb'|trans|raw }}</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-plan">
            <div class="container">
                <div id="section-plan" class="col-sm-6 col-sm-offset-3 text-center title-plan">
                    <h1>{{ 'plan_parc.titre_section_plan_parc'|trans|raw }}</h1>
                </div>
                <div class="col-sm-12<">
                    <img class="img-responsive" src="{{ asset('front/images/plan-du-parc.png') }}">
                </div>
                <div class="col-md-6 col-md-offset-3 col-sm-12 text-center">
                    <p>
                        {{ 'plan_parc.information_complementaire_parc'|trans|raw }}
                    </p>
                </div>
            </div>
        </div>
        <div id="section-contact" class="section-contact">
            <div id="nuage-top">
                <div class="container">
                    <div class="col-sm-12 block-contact">
                        <div class="col-sm-4 col-sm-offset-4 text-center title-contact">
                            <h1>{{ 'contact.titre_section_contact'|trans|raw }}</h1>
                        </div>
                        <div class="col-sm-12 contact-content iframe-youtube">
                            <div class="col-md-4 col-sm-12 info-ouverture">
                                <p>
                                    {{ 'contact.adresse'|trans|raw }}<br>
                                    {{ 'contact.num_tel'|trans|raw }}<br>
                                    {{ 'contact.mail'|trans|raw }}<br>
                                </p>
                                    <h4> {{ 'contact.titre_horaire'|trans|raw }}</h4>
                                    <h3>{{ 'contact.juillet_aout'|trans|raw }}</h3>
                                <p>
                                    {{ 'contact.horaire_juillet_aout'|trans|raw }}
                                </p>
                                    <h3>{{ 'contact.reste_annee'|trans|raw }}</h3>
                                <p>
                                    {{ 'contact.horaire_reste_annee'|trans|raw }}
                                </p>
                            </div>
                            <div class="col-md-7 col-md-offset-1 col-sm-12">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190064.8672190061!2d3.7990623569725797!3d43.7212385634483!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b40239cb28308b%3A0xd2c89522cf4dac40!2sOc&#39;aventures!5e0!3m2!1sen!2sfr!4v1489600278051" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container block-partenaire col-sm-8 col-sm-offset-2">
                {% for partenaire in partenaires %}
                    <a target="_blank" href="{{ partenaire.address }}">
                        <img class="img-responsive img-partenaire" src="{{ partenaire.img }}">
                    </a>
                {% endfor %}
            </div>
        </div>
      </div>


    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title col-sm-4">Galerie photo</h4>
            <button type="button" class="btn btn-success" id="btn-next">suivant</button>
            <button type="button" class="btn btn-info disabled" id="btn-befor">précédent</button>
          </div>
          <div class="modal-body">
              {% if image.imgGallery.image is empty %}
                <p>La galerie photo sera bientôt disponible !</p>
              {% else %}
                   <img src="front/images/gallery/{{ image.imgGallery.image[0] }}" class="img-responsive" id="img-modal">
              {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block script %}
    <script type="text/javascript">
        var photos = [];
        {% for photo in image.imgGallery.image %}
            photos.push("{{ photo }}");
        {% endfor %}

        var numPhoto = 0;
        $('#btn-next').click(function() {
            numPhoto++;
            displayNavBtn(numPhoto, photos.length);
            var imgUrl = "front/images/gallery/" + photos[numPhoto];
            $('#img-modal').attr('src', imgUrl);
        });

        $('#btn-befor').click(function() {
            numPhoto--;
            displayNavBtn(numPhoto, photos.length);
            var imgUrl = "front/images/gallery/" + photos[numPhoto];
            $('#img-modal').attr('src', imgUrl);
        });

        function displayNavBtn(numPhoto, nbPhoto) {
          if (numPhoto == 0) {
            $('#btn-befor').addClass('disabled');
          } else {
            $('#btn-befor').removeClass('disabled');
          }

          if (numPhoto == nbPhoto - 1) {
            $('#btn-next').addClass('disabled');
          } else {
            $('#btn-next').removeClass('disabled');
          }
        }
    </script>
{% endblock script %}