{% extends 'WebSiteBundle:Front:base.html.twig' %}
    {% block title %}
        Ouvertures
    {% endblock %}
{% block content %}
    {% trans_default_domain "traduction" %}
    <div class="row">
    <div class="box">
        <div class="text-center text-yellow">
            <h1>{{ 'ouvertures.titre_ouvertures'|trans|raw }}</h1>
            <br>
        </div>
        <div class="col-lg-12">
            <p>
                {{ 'ouvertures.texte_ouvertures'|trans|raw }}
            </p>
            <hr>
            <h3 class="text-center text-yellow"> {{ 'ouvertures.titre_hors_saison'|trans|raw }}</h3>
            <p>
                {{ 'ouvertures.texte_hors_saison'|trans|raw }}
            </p>
            <hr>
            <h3 class="text-center text-yellow"> {{ 'ouvertures.titre_saison'|trans|raw }}</h3>
            <p>
                {{ 'ouvertures.texte_saison'|trans|raw }}
            </p>
            <hr>
            <p> {{ 'ouvertures.texte_supp'|trans|raw }}
            </p>
        </div>
    </div>
</div>
{% endblock %}