{% extends 'WebSiteBundle:Front:base.html.twig' %}
    {% block title %}
        Parcours
    {% endblock %}
{% block content %}
    {% trans_default_domain "traduction" %}
    {% set baseImgUrl = "front/images/gallery/" %}
<div class="box tab row">
        <div class="text-center text-yellow">
            <h1 id="nav-tabs">{{ 'parcours.nos_parcours'|trans }}</h1>
        </div>
        <div class="bs-component live-less-editor-hovercontainer" data-relatedvars="caret-width-base,dropdown-bg,dropdown-fallback-border,dropdown-border,dropdown-divider-bg,dropdown-link-color,dropdown-link-hover-color,dropdown-link-hover-bg,dropdown-link-active-color,dropdown-link-active-bg,dropdown-link-disabled-color,dropdown-header-color,nav-link-padding,nav-link-hover-bg,nav-disabled-link-color,nav-disabled-link-hover-color,link-color,nav-tabs-border-color,nav-tabs-link-hover-border-color,nav-tabs-active-link-hover-color,nav-tabs-active-link-hover-bg,nav-tabs-active-link-hover-border-color">
            <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                <li class="active"><a href="#adulte" data-toggle="tab" aria-expanded="true">{{ 'parcours.parcours_grand_bouton'|trans }}</a></li>
                <li class=""><a href="#enfant" data-toggle="tab" aria-expanded="false">{{ 'parcours.parcours_enfant_button'|trans }}</a></li>
                <li class=""><a href="#plan" data-toggle="tab" aria-expanded="false">{{ 'parcours.plan_bouton'|trans }}</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="adulte">
                    <div class="text-center">
                        <br>
                        <h3>{{ 'parcours.nos_parcours_grands'|trans }} :</h3>
                        <br>
                    </div>
                    <div class="col-lg-12">
                        <img class="img-responsive img-border img-left" src="{{ asset(baseImgUrl ~ image.adult.imgBlock1.image) }}" alt="">
                        <hr class="visible-xs">
                        <div class="row">
                            <h4 class="text-yellow">{{ 'parcours.parcours_pour_grands'|trans }} :</h4>
                            <p>
                                <strong>
                                    {{ 'parcours.desc_grands_parcours'|trans }}
                                </strong>
                            </p>
                            <hr>
                            <p>
                                {{ 'parcours.desc_tyro'|trans }}
                            </p>
                        </div>
                        <hr>
                    </div>
                    <div class="col-lg-12">
                        <p>
                            {{ 'parcours.desc_details_parcours'|trans }}
                        </p>
                    </div>
                    <div class="col-lg-12 text-center">
                        <div id="carousel-example-generic" class="carousel slide">
                            <!-- Indicators -->
                            <ol class="carousel-indicators hidden-xs">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                {% set firstIteration = true %}
                                {% for image in image.adult.sliders.image %}
                                {% if firstIteration == true %}
                                    <div class="item active">
                                        <img class="img-responsive img-full" src="{{ asset('front/images/gallery/' ~ image) }}" alt="">
                                    </div>
                                {% else %}
                                    <div class="item">
                                        <img class="img-responsive img-full" src="{{ asset('front/images/gallery/' ~ image) }}" alt="">
                                    </div>
                                {% endif %}
                                    {% set firstIteration = false %}
                                {% endfor %}
                            </div>
                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="icon-prev"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="icon-next"></span>
                            </a>
                        </div>
                        <hr>
                        <p>
                            {{ 'parcours.fin_grands_parcours'|trans }}
                        </p>
                    </div>
                </div>
            <div class="tab-pane fade" id="enfant">
                <div class="text-center">
                    <br>
                    <h3>{{ 'parcours.nos_parcours_enfant'|trans }} :</h3>
                    <br>
                </div>
                <div class="col-lg-12">
                    <img class="img-responsive img-border img-left" src="{{ asset(baseImgUrl ~ image.enfant.imgBlock1.image) }}" alt="">
                    <hr class="visible-xs">
                    <div class="row">
                            <h4 class="text-yellow">{{ 'parcours.parcours_pour_enfant'|trans }}:</h4>
                        <p>
                               {{ 'parcours.desc_parcours_enfant'|trans|raw }}
                        </p>
                            <h4 class="text-yellow"> {{ 'parcours.les_parcours'|trans }} :</h4>
                        <p>
                            {{ 'parcours.desc_details_enfant'|trans|raw }}
                        </p>
                    </div>
                    <hr>
                </div>
                <div class="col-lg-12">
                    <p>
                        {{ 'parcours.desc_accroche_enfant'|trans|raw }}
                    </p>
                </div>
                <div class="col-lg-12 text-center">
                    <div id="carousel-parcours-enfant" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-parcours-enfant" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-parcours-enfant" data-slide-to="1"></li>
                            <li data-target="#carousel-parcours-enfant" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {% set firstIteration = true %}
                            {% for image in image.enfant.sliders.image %}
                            {% if firstIteration == true %}
                                <div class="item active">
                                    <img class="img-responsive img-full" src="{{ asset('front/images/gallery/' ~ image) }}" alt="">
                                </div>
                            {% else %}
                                <div class="item">
                                    <img class="img-responsive img-full" src="{{ asset('front/images/gallery/' ~ image) }}" alt="">
                                </div>
                            {% endif %}
                                {% set firstIteration = false %}
                                {% endfor %}
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-parcours-enfant" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-parcours-enfant" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <hr>
                    <p>
                        {{ 'parcours.fin_parcours_enfant'|trans }}
                    </p>
                </div>
            </div>
            <div class="tab-pane fade" id="plan">
                <div class="text-center">
                    <br>
                    <h3>{{ 'parcours.plan_du_parc'|trans }} :</h3>
                    <br>
                </div>
                <div class="col-lg-12">
                    <img class="img-responsive center-block" src="{{ asset('front/images/gallery/' ~ image.plan.plan.image) }}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
