{% extends 'WebSiteBundle:Front:base.html.twig' %}
    {% block title %}
        Parcours
    {% endblock %}
{% block content %}
    {% trans_default_domain "parcours" %}
<div class="box tab row">
        <div class="text-center">
            <h1 id="nav-tabs">{{ 'nos.parcours'|trans }}</h1>
        </div>
        <div class="bs-component live-less-editor-hovercontainer" data-relatedvars="caret-width-base,dropdown-bg,dropdown-fallback-border,dropdown-border,dropdown-divider-bg,dropdown-link-color,dropdown-link-hover-color,dropdown-link-hover-bg,dropdown-link-active-color,dropdown-link-active-bg,dropdown-link-disabled-color,dropdown-header-color,nav-link-padding,nav-link-hover-bg,nav-disabled-link-color,nav-disabled-link-hover-color,link-color,nav-tabs-border-color,nav-tabs-link-hover-border-color,nav-tabs-active-link-hover-color,nav-tabs-active-link-hover-bg,nav-tabs-active-link-hover-border-color">
            <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                <li class="active"><a href="#adulte" data-toggle="tab" aria-expanded="true">{{ 'parcours.grand.bouton'|trans }}</a></li>
                <li class=""><a href="#enfant" data-toggle="tab" aria-expanded="false">{{ 'parcours.enfant.button'|trans }}</a></li>
                <li class=""><a href="#plan" data-toggle="tab" aria-expanded="false">{{ 'plan.bouton'|trans }}</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="adulte">
                    <div class="text-center">
                        <br>
                        <h3>{{ 'nos.parcours.grands'|trans }} :</h3>
                        <br>
                    </div>
                    <div class="col-lg-12">
                        <img class="img-responsive img-border img-left" src="{{ asset('./front/images/hauteur.jpg') }}" alt="">
                        <hr class="visible-xs">
                        <div class="row">
                            <h4 class="text-yellow">{{ 'parcours.pour.grands'|trans }} :</h4>
                            <p>
                                <strong>
                                    {{ 'desc.grands.parcours'|trans }}
                                </strong>
                            </p>
                            <hr>
                            <p>
                                {{ 'desc.tyro'|trans }}
                            </p>
                        </div>
                        <hr>
                    </div>
                    <div class="col-lg-12">
                        <p>
                            {{ 'desc.details.parcours'|trans }}
                        </p>
                    </div>
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="{{ asset('./front/images/slide-3.jpg') }}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{{ asset('./front/images/slide-1.jpg') }}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{{ asset('./front/images/slide-2.jpg') }}" alt="">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <hr>
                    <p>
                        {{ 'fin.grands.parcours'|trans }}
                    </p>
                </div>
            </div>
            <div class="tab-pane fade" id="enfant">
                <div class="text-center">
                    <br>
                    <h3>{{ 'nos.parcours.enfant'|trans }} :</h3>
                    <br>
                </div>
                <div class="col-lg-12">
                    <img class="img-responsive img-border img-left" src="{{ asset('./front/images/hauteur.jpg') }}" alt="">
                    <hr class="visible-xs">
                    <div class="row">
                            <h4 class="text-yellow">{{ 'parcours.pour.enfant'|trans }}:</h4>
                        <p>
                               {{ 'desc.parcours.enfant'|trans|raw }}
                        </p>
                            <h4 class="text-yellow"> {{ 'les.parcours'|trans }} :</h4>
                        <p>
                            {{ 'desc.details.enfant'|trans|raw }}
                        </p>
                    </div>
                    <hr>
                </div>
                <div class="col-lg-12">
                    <p>
                        {{ 'desc.accroche.enfant'|trans|raw }}
                    </p>
                </div>
                <div class="col-lg-12 text-center">
                    <div id="carousel-parcours-enfant" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-parcours-enfant" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-parcours-enfant" data-slide-to="1"></li>
                            <li data-target="#carousel-parcours-enfant" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="{{ asset('./front/images/slide-3.jpg') }}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{{ asset('./front/images/slide-1.jpg') }}" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{{ asset('./front/images/slide-2.jpg') }}" alt="">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-parcours-enfant" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-parcours-enfant" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <hr>
                    <p>
                        {{ 'fin.parcours.enfant'|trans }}
                    </p>
                </div>
            </div>
            <div class="tab-pane fade" id="plan">
                <div class="text-center">
                    <br>
                    <h3>{{ 'plan.du.parc'|trans }} :</h3>
                    <br>
                </div>
                <div class="col-lg-12">
                    <img class="img-responsive center-block" src="{{ asset('./front/images/plan.png') }}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
