{% extends 'WebSiteBundle:Front:base.html.twig' %}
    {% block title %}
        Tarif
    {% endblock %}
{% block content %}
    {% trans_default_domain "traduction" %}
    <div class="row">
    <div class="box">
        <div class="text-center text-yellow">
            <h1> {{ 'tarifs.Titre'|trans|raw }}</h1>
            <br>
        </div>
        <div class="col-lg-6">
            <h3 class="text-center text-yellow">
                <span>Tarifs Accrobranche</span>
            </h3><br>
            <div class="block block-forfait">
                <div class="text-yellow">
                    <label class="label-img1 text-center">
                        {{ tarifs.F1Prix }} €
                    </label>
                    <span class="text-yellow text-header">
                        {{ 'tarifs.forfait1'|trans|raw }}
                    </span>
                    <label class="label-img5 text-center label-age">
                        {{ tarifs.F1Age }} {{ 'tarifs.age'|trans|raw }}
                    </label>
                </div>
                <p class="text-forfait">
                    {{ 'tarifs.parcours1'|trans({'%age%': tarifs.F1Age })|raw }}
                </p>
            </div>

            <div class="block block-forfait">
                <div class="text-yellow">
                    <label class="label-img1 text-center">
                        {{ tarifs.F2Prix }} €
                    </label>
                    <span class="text-yellow text-header">
                        {{ 'tarifs.forfait2'|trans|raw }}
                    </span>
                    <label class="label-img5 text-center label-age">
                        {{ tarifs.F2Age }} {{ 'tarifs.age'|trans|raw }}
                    </label>
                </div>
                <p class="text-forfait">
                    {{ 'tarifs.parcours2'|trans({'%age%': tarifs.F2Age })|raw }}
                </p>
            </div>

            <div class="block block-forfait">
                <div class="text-yellow">
                    <label class="label-img1 text-center">
                        {{ tarifs.F3Prix }} €
                    </label>
                    <span class="text-yellow text-header">
                        {{ 'tarifs.forfait3'|trans|raw }}
                    </span>
                    <label class="label-img5 text-center label-age">
                        {{ tarifs.F3Age }} {{ 'tarifs.age'|trans|raw }}
                    </label>
                </div>
                <p class="text-forfait">
                    {{ 'tarifs.parcours3'|trans({'%age%': tarifs.F3Age })|raw }}
                </p>
            </div>

            <div class="block block-forfait">
                <div class="text-yellow">
                    <label class="label-img1 text-center">
                        {{ tarifs.F4Prix }} €
                    </label>
                    <span class="text-yellow text-header">
                         {{ 'tarifs.forfait4'|trans|raw }}
                    </span>
                    <label class="label-img5 text-center label-age">
                        +{{ tarifs.F4Poids }}kg
                    </label>
                </div>
                <p class="text-forfait">
                    {{ 'tarifs.parcours4'|trans({'%poids%': tarifs.F4Poids })|raw }}
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <h3 class="text-center text-yellow">
                <span>Tarifs Laser Game</span>
            </h3><br>
            <div class="block block-forfait">
                <div class="text-yellow">
                    <label class="label-img-viseur text-center">
                        {{ tarifs.FLaser1 }} €
                    </label>
                    <span class="text-yellow text-header">
                        {{ 'tarifs.forfait_laser_1'|trans|raw }}
                    </span>
                    <label class="label-img5 text-center label-age">
                        {{ tarifs.FLaserAge }} {{ 'tarifs.age'|trans|raw }}
                    </label>
                </div>
                <p class="text-forfait">
                    {{ 'tarifs.forfait_laser_desc_1'|trans|raw }}
                </p>
            </div>
            <div class="block block-forfait">
                <div class="text-yellow">
                    <label class="label-img-viseur text-center">
                        {{ tarifs.FLaser2 }} €
                    </label>
                    <span class="text-yellow text-header">
                        {{ 'tarifs.forfait_laser_2'|trans|raw }}
                    </span>
                    <label class="label-img5 text-center label-age">
                        {{ tarifs.FLaserAge }} {{ 'tarifs.age'|trans|raw }}
                    </label>
                </div>
                <p class="text-forfait">
                    {{ 'tarifs.forfait_laser_desc_2'|trans|raw }}
                </p>
            </div>
        </div>
        <div class="col-lg-12 text-center">
            <div class="col-lg-6 col-sm-offset-3">
                <label class="">{{ 'tarifs.temps_activite'|trans|raw }}</label>
                <h3 class="text-yellow">{{ 'tarifs.titre_paiement'|trans|raw }}</h3>
                <p>{{ 'tarifs.mode_paiement'|trans|raw }}</p>
                <div class="block">
                    <img class="small-img" src="{{ asset('front/images/noCB.png') }}" alt="">
                    <img class="" src="{{ asset('front/images/logo_ancv.png') }}" alt="">
                </div>
                <h3 class="text-yellow cb-message">{{ 'tarifs.pas_cb'|trans|raw }}</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}