{% extends 'WebSiteBundle:Front:base.html.twig' %}
    {% block title %}
        Tarif
    {% endblock %}
{% block content %}
    {% trans_default_domain "tarifs" %}
    <div class="row">
    <div class="box">
        <div class="text-center text-yellow">
            <h1> {{ 'Titre'|trans|raw }}</h1>
            <br>
        </div>
        <div class="col-lg-12">
            <div class="block block-forfait">
                <div class="text-yellow">
                    <label class="label-img1 text-center">
                        10 €
                    </label>
                    <span class="text-yellow text-header">
                        {{ 'forfait1'|trans|raw }}
                    </span>
                    <label class="label-img5 text-center label-age">
                        {{ 'age1'|trans|raw }}
                    </label>
                </div>
                <p class="text-forfait">
                    {{ 'parcours1'|trans|raw }}
                </p>
            </div>

            <div class="block block-forfait">
                <div class="text-yellow">
                    <label class="label-img1 text-center">
                        12.5 €
                    </label>
                    <span class="text-yellow text-header">
                        {{ 'forfait2'|trans|raw }}
                    </span>
                    <label class="label-img5 text-center label-age">
                        {{ 'age2'|trans|raw }}
                    </label>
                </div>
                <p class="text-forfait">
                    {{ 'parcours2'|trans|raw }}
                </p>
            </div>

            <div class="block block-forfait">
                <div class="text-yellow">
                    <label class="label-img1 text-center">
                        17 €
                    </label>
                    <span class="text-yellow text-header">
                        {{ 'forfait3'|trans|raw }}
                    </span>
                    <label class="label-img5 text-center label-age">
                        {{ 'age3'|trans|raw }}
                    </label>
                </div>
                <p class="text-forfait">
                    {{ 'parcours3'|trans|raw }}
                </p>
            </div>

            <div class="block block-forfait">
                <div class="text-yellow">
                    <label class="label-img1 text-center">
                        23 €
                    </label>
                    <span class="text-yellow text-header">
                         {{ 'forfait4'|trans|raw }}
                    </span>
                    <label class="label-img5 text-center label-age">
                        +40kg
                    </label>
                </div>
                <p class="text-forfait">
                    {{ 'parcours4'|trans|raw }}
                </p>
            </div>
            <label>{{ 'temps_activite'|trans|raw }}</label>
            <div class="block">
                <h3 class="text-yellow">{{ 'titre_paiement'|trans|raw }}</h3>
                <p>{{ 'mode_paiement'|trans|raw }}</p>
                <div class="block">
                    <img class="small-img" src="{{ asset('front/images/noCB.png') }}" alt="">
                    <img class="" src="{{ asset('front/images/logo_ancv.png') }}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}