{% extends 'WebSiteBundle:Back:baseBackOffice.html.twig' %}
{% block title %}
    Administration
{% endblock %}
{% block content %}
    <div class="col-sm-12 block-menu-top">
        <div class="col-sm-3 block-menu">
            <h1 class="text-center">Images</h1>
            <div class="col-sm-12 text-center">
                <a href="{{ path('admin_images') }}"><img src="{{ asset('back/img/image.png') }}"></a>
            </div>
        </div>
        <div class="col-sm-3 block-menu col-sm-offset-1">
            <h1 class="text-center">Partenaires</h1>
            <div class="col-sm-12 text-center">
                <a href="{{ path('admin_partenaires') }}"><img src="{{ asset('back/img/partnership.png') }}"></a>
            </div>
        </div>
        <div class="col-sm-3 block-menu col-sm-offset-1">
            <h1 class="text-center">Tarifs</h1>
            <div class="col-sm-12 text-center">
                <a href="{{ path('admin_tarifs') }}"><img src="{{ asset('back/img/euro.png') }}"></a>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-3 block-menu">
            <h1 class="text-center">Ouvertures</h1>
            <div class="col-sm-12 text-center">
                <a href="{{ path('admin_date_ouvertures') }}"><img src="{{ asset('back/img/24-hours-open.png') }}"></a>
            </div>
        </div>
        <div class="col-sm-offset-1 col-sm-7 block-menu">
            <h1 class="text-center">Textes</h1>
            <div class="col-sm-4">
                <img src="{{ asset('back/img/documents.png') }}">
            </div>
            <div class="col-sm-8 block-flag">
                <div class="col-sm-4">
                    <a href="{{ path('admin_text', {'lang' : 'fr'}) }}"><img src="{{ asset('back/img/france.png') }}"></a>
                </div>
                <div class="col-sm-4">
                    <a href="{{ path('admin_text', {'lang' : 'en'}) }}"><img src="{{ asset('back/img/united-kingdom.png') }}"></a>
                </div>
                <div class="col-sm-4">
                    <a href="{{ path('admin_text', {'lang' : 'de'}) }}"><img src="{{ asset('back/img/germany.png') }}"></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
