{% extends 'WebSiteBundle:Back:baseBackOffice.html.twig' %}
{% block title %}
    Administration
{% endblock %}
{% block content %}
    <div class="well">
        <h1>Administrer les textes en {% if lang == 'fr' %}français{% elseif lang == 'en' %}anglais{% else %}allemand{% endif %}</h1> <br>
        {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
        {{ form_start(form, {attr: {novalidate: 'novalidate'} }) }}
        <div class="bs-component live-less-editor-hovercontainer" data-relatedvars="caret-width-base,dropdown-bg,dropdown-fallback-border,dropdown-border,dropdown-divider-bg,dropdown-link-color,dropdown-link-hover-color,dropdown-link-hover-bg,dropdown-link-active-color,dropdown-link-active-bg,dropdown-link-disabled-color,dropdown-header-color,nav-link-padding,nav-link-hover-bg,nav-disabled-link-color,nav-disabled-link-hover-color,link-color,nav-tabs-border-color,nav-tabs-link-hover-border-color,nav-tabs-active-link-hover-color,nav-tabs-active-link-hover-bg,nav-tabs-active-link-hover-border-color">
            <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                <li class="active"><a href="#header" data-toggle="tab" aria-expanded="true">Textes menu</a></li>
                <li class=""><a href="#index" data-toggle="tab" aria-expanded="false">Textes accueil</a></li>
                <li class=""><a href="#parcours" data-toggle="tab" aria-expanded="false">Textes parcours</a></li>
                <li class=""><a href="#tarifs" data-toggle="tab" aria-expanded="false">Textes tarifs</a></li>
                <li class=""><a href="#plan-parc" data-toggle="tab" aria-expanded="false">Textes plan du parc</a></li>
                <li class=""><a href="#contact" data-toggle="tab" aria-expanded="false">Textes contact</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade active in" id="header">
                    <div class="col-lg-10">
                        {{ form_row(form.header.accueil) }}
                        {{ form_row(form.header.parcours) }}
                        {{ form_row(form.header.forfait) }}
                        {{ form_row(form.header.plan_parc) }}
                        {{ form_row(form.header.contact) }}
                    </div>
                </div>
                <div class="tab-pane fade" id="index">
                    <div class="col-lg-10">
                        <h4 class="col-lg-offset-2 ">
                            Changer le texte qui donne les date d'ouvertures :
                        </h4><br>
                        {{ form_row(form.index.texte_ouvertures) }}
                        <h4 class="col-lg-offset-2 ">
                            Changer le texte d'accroche sous le premier "Parallax" :
                        </h4><br>
                        {{ form_row(form.index.accroche_accueil) }}
                    </div>
                </div>
                <div class="tab-pane fade" id="parcours">
                    <div class="col-lg-10">
                        <h4 class="col-lg-offset-2 ">
                            Changer le titre de la section parcours
                        </h4><br>
                        {{ form_row(form.parcours.nos_parcours) }}
                        <h4 class="col-lg-offset-2 ">
                            Partie enfant
                        </h4><br>
                        {{ form_row(form.parcours.titre_parcours_enfant) }}
                        {{ form_row(form.parcours.description_parcours_enfant) }}

                        <h4 class="col-lg-offset-2 ">
                            Partie adulte
                        </h4><br>
                        {{ form_row(form.parcours.titre_parcours_adulte) }}
                        {{ form_row(form.parcours.description_parcours_adulte) }}

                        <h4 class="col-lg-offset-2 ">
                            Partie laser game
                        </h4><br>
                        {{ form_row(form.parcours.titre_laser_game) }}
                        {{ form_row(form.parcours.description_laser_game) }}

                        <h4 class="col-lg-offset-2 ">
                            Changer l'intitulé du bouton pour afficher la gallerie photo
                        </h4><br>
                        {{ form_row(form.parcours.intitule_bouton_galerie) }}
                    </div>
                </div>
                <div class="tab-pane fade" id="tarifs">
                    <div class="col-lg-10">
                        <h4 class="col-lg-offset-2 ">
                            Changer le titre de la section tarif
                        </h4><br>
                        {{ form_row(form.tarifs.Titre) }}
                        <h4 class="col-lg-offset-2 ">
                            Changer le titre tarifs accrobranche
                        </h4><br>
                        {{ form_row(form.tarifs.titre_tarif_accrobrache) }}
                        <h4 class="col-lg-offset-2 ">
                            Forfait 1
                        </h4><br>
                        {{ form_row(form.tarifs.forfait1) }}
                        {{ form_row(form.tarifs.parcours1) }}
                        <h4 class="col-lg-offset-2 ">
                            Forfait 2
                        </h4><br>
                        {{ form_row(form.tarifs.forfait2) }}
                        {{ form_row(form.tarifs.parcours2) }}
                        <h4 class="col-lg-offset-2 ">
                            Forfait 3
                        </h4><br>
                        {{ form_row(form.tarifs.forfait3) }}
                        {{ form_row(form.tarifs.parcours3) }}
                        <h4 class="col-lg-offset-2 ">
                            Forfait 4
                        </h4><br>
                        {{ form_row(form.tarifs.forfait4) }}
                        {{ form_row(form.tarifs.parcours4) }}
                        <h4 class="col-lg-offset-2 ">
                            Changer le titre tarifs laser game
                        </h4><br>
                        {{ form_row(form.tarifs.titre_tarif_laser_game) }}
                        <h4 class="col-lg-offset-2 ">
                            Forfait laser game 1
                        </h4><br>
                        {{ form_row(form.tarifs.forfait_laser_1) }}
                        {{ form_row(form.tarifs.forfait_laser_desc_1) }}
                        <h4 class="col-lg-offset-2 ">
                            Forfait lasergame 2
                        </h4><br>
                        {{ form_row(form.tarifs.forfait_laser_2) }}
                        {{ form_row(form.tarifs.forfait_laser_desc_2) }}
                        <h4 class="col-lg-offset-2 ">
                            Texte pour les groupes
                        </h4><br>
                        {{ form_row(form.tarifs.texte_groupe) }}
                        <h4 class="col-lg-offset-2 ">
                            Informations complémentaire
                        </h4><br>
                        {{ form_row(form.tarifs.temps_activite) }}
                        {{ form_row(form.tarifs.titre_paiement) }}
                        {{ form_row(form.tarifs.mode_paiement) }}
                        {{ form_row(form.tarifs.pas_cb) }}

                    </div>
                </div>
                <div class="tab-pane fade" id="plan-parc">
                    <div class="col-lg-10">
                        {{ form_row(form.plan_parc.titre_section_plan_parc) }}
                        {{ form_row(form.plan_parc.information_complementaire_parc) }}
                    </div>
                </div>
                <div class="tab-pane fade" id="contact">
                    <div class="col-lg-10">
                        {{ form_row(form.contact.titre_section_contact) }}
                        {{ form_row(form.contact.adresse) }}
                        {{ form_row(form.contact.num_tel) }}
                        {{ form_row(form.contact.mail) }}
                        {{ form_row(form.contact.titre_horaire) }}
                        {{ form_row(form.contact.juillet_aout) }}
                        {{ form_row(form.contact.horaire_juillet_aout) }}
                        {{ form_row(form.contact.reste_annee) }}
                        {{ form_row(form.contact.horaire_reste_annee) }}
                    </div>
                </div>
            </div>
            {{ form_row(form.valider) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}